
.component > ul {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.component-small > ul {
    width: 450px;
}

.component li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}

.component .current {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

.component li img {
    display: block;
    max-width: 100%;
}

/*****************************************/
/* Slide Behind */
/* From https://github.com/hakimel/kontext by Hakim El Hattab, http://hakim.se */
/*****************************************/

.itemwrap {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.navOut-left {
    -webkit-animation: hideLeft 0.5s forwards;
    animation: hideLeft 0.5s forwards;
}

.navIn-left {
    -webkit-animation: showRight 0.5s forwards;
    animation: showRight 0.5s forwards;
}

.navOut-right {
    -webkit-animation: hideRight 0.5s forwards;
    animation: hideRight 0.5s forwards;
}

.navIn-right {
    -webkit-animation: showLeft 0.5s forwards;
    animation: showLeft 0.5s forwards;
}

li::before,
li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.5s;
}
@-webkit-keyframes hideLeft { 
    0% { -webkit-transform: translateZ( 0px ); }
    40% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); z-index: 9999; }
    100% { opacity: 1; -webkit-transform: translateZ( -400px ); }
}

@keyframes hideLeft { 
    0% { -webkit-transform: translateZ( 0px ); transform: translateZ( 0px ); }
    40% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); z-index: 9999; }
    100% { opacity: 1; -webkit-transform: translateZ( -400px ); transform: translateZ( -400px ); }
}

@-webkit-keyframes showRight {
    0% { -webkit-transform: translateZ( -400px ); opacity: 1; }
    40% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); opacity: 1; }
    41% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); opacity: 1; z-index: 9999; }
    100% { -webkit-transform: translateZ( 0px ); opacity: 1; z-index: 9999; }
}

@keyframes showRight {
    0% { -webkit-transform: translateZ( -400px ); transform: translateZ( -400px ); opacity: 1; }
    40% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); opacity: 1; }
    41% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); opacity: 1; z-index: 9999; }
    100% { -webkit-transform: translateZ( 0px ); transform: translateZ( 0px ); opacity: 1; z-index: 9999; }
}

@-webkit-keyframes hideRight { 
    0% { -webkit-transform: translateZ( 0px ); }
    40% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); z-index: 9999; }
    100% { opacity: 1; -webkit-transform: translateZ( -400px ); }
}

@keyframes hideRight { 
    0% { -webkit-transform: translateZ( 0px ); transform: translateZ( 0px ); }
    40% { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); z-index: 9999; }
    100% { opacity: 1; -webkit-transform: translateZ( -400px ); transform: translateZ( -400px ); }
}

@-webkit-keyframes showLeft {
    0% { -webkit-transform: translateZ( -400px ); opacity: 1; }
    40% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); opacity: 1; }
    41% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); opacity: 1; z-index: 9999; }
    100% { -webkit-transform: translateZ( 0px ); opacity: 1; z-index: 9999; }
}

@keyframes showLeft {
    0% { -webkit-transform: translateZ( -400px ); transform: translateZ( -400px ); opacity: 1; }
    40% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); opacity: 1; }
    41% { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); opacity: 1; z-index: 9999; }
    100% { -webkit-transform: translateZ( 0px ); transform: translateZ( 0px ); opacity: 1; z-index: 9999; }
}